<h1 class="text-center mt-5">Cadastro do alunos</h1>

<form action="/cadastroAlunos" method="POST">
  <div class="form-group">
    <label for="user">Aluno</label>
    <input type="user" class="form-control" id="user" name="user" placeholder="Digite o usuário" required />
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a senha" required />
    <button class="btn btn-dark mt-3" type="submit">Cadastrar</button>
  </div>
</form>