<h1>Login do Aluno</h1>

<form action="/verificaLogin" method="POST">
    <div class="form-group">
        <label for="nome">Usuário</label>
        <input type="text" class="form-control" id="user" name="user" placeholder="User do aluno" required />
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required />
        <button class="btn btn-dark mt-3" type="submit">Logar</button>
    </div>
</form>